body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;

}
h2{
    font-size: 40px;
}
.a{
    color:orange;
}
.flexable-contanier{
    display:flex;
    margin-bottom: 200px;
}
.half-width{

width: 50%;
padding: 1%;
padding-left: 2%;

}
.half-width img{
    width:80% ;
    
    
    
}
.link-button{
    text-decoration: none;
   background-image: linear-gradient(orange,tomato);
    padding:10px 40px ;
    color:white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{

    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
}
.big-dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.experience-area{
background-image: url(images/exp-bg.png);
background-repeat: no-repeat;
background-position: left;
}
.expre1{
box-shadow:10px 10px 40px grey ;
margin-left: 5%;
margin-right: 5%;
border-radius: 10px;


}
#full-stack-developer{
    border-left: 7px solid blue;
}
#baby-web-developer{
    border-left: 7px solid red;
}
footer p {
    text-align: center;
}